
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a href="#" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="question_2-branch" method="post" novalidate data-validate='my-form-validation'>
          <h1 class="govuk-heading-xl">   What is the predominant disease syndrome?</h3>

          {{ govukRadios({
              classes: "govuk-radios",
              idPrefix: "question_2-syndrome",
              name: "question_2-syndrome",
              fieldset: {
                  legend: {
                      text: "",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--l"
                  }
              },

              items: [
                  {
                      value: "Blood",
                      text: "Blood/circulatory",
                      id: "question_2-syndrome-blood",
                      checked: checked("nqt-after-itt", "yes")
                  },
                  {
                      value: "Enteric",
                      text: "Enteric",
                      id: "question_1-source-no",
                      checked: checked("nqt-after-itt", "no"),
                      conditional: {html: detailsHtml}
                  },
                  {
                      value: "Musculoskeletal",
                      text: "Musculoskeletal",
                      id: "question_1-source-maybe",
                      checked: checked("nqt-after-itt", "no"),
                      conditional: {html: details2Html}
                  },
                  {
                      value: "Nervous",
                      text: "  Nervous",
                      id: "question_1-source-maybe",
                      checked: checked("nqt-after-itt", "no"),
                      conditional: {html: details2Html}
                  },
                  {
                      value: "Reproductive",
                      text: "Reproductive",
                      id: "question_1-source-yes",
                      checked: checked("nqt-after-itt", "yes")
                  },
                  {
                      value: "Respiratory",
                      text: "Respiratory",
                      id: "question_1-source-no",
                      checked: checked("nqt-after-itt", "no"),
                      conditional: {html: detailsHtml}
                  },
                  {
                      value: "Skin",
                      text: "Skin",
                      id: "question_1-source-maybe",
                      checked: checked("nqt-after-itt", "no"),
                      conditional: {html: details2Html}
                  },
                  {
                      value: "Systemic",
                      text: "Systemic",
                      id: "question_1-source-maybe",
                      checked: checked("nqt-after-itt", "no"),
                      conditional: {html: details2Html}
                  },
                  {
                      value: "Urinary",
                      text: "Urinary",
                      id: "question_1-source-reject",
                      checked: checked("nqt-after-itt", "no"),
                      conditional: {html: details3Html}
                  }
              ]
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}
            <!--<a class="govuk-link govuk-!-margin-left-3" href="start.html">Back</a>-->
          </div>
      </form>

      <!--
      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
  What is the predominant disease syndrome?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
      Blood/circulatory
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
Enteric
        </label>
      </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
    Musculoskeletal
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
  Nervous
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
 Reproductive
          </label>
        </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
  Respiratory
            </label>
          </div>


          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
  Skin
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
Systemic
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
     Urinary
            </label>
          </div>
    </div>

  </fieldset>
</div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "suspected-diagnosis.html"
        }) }}

     {{ govukButton({
          text: "Decline",
          classes: "govuk-button--secondary",
          href: "#"
        }) }}-->
      </div>

    </div>
  </div>
</div>


<style>

.govuk-main-wrapper--auto-spacing:first-child, .govuk-main-wrapper--l {
    padding-top: 0px;
}
</style>

{% endblock %}
