\
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a href="#" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
Submitting a pig health record

      </h1>
      <p>
        DEFRA is the Data Controller for this service under the Data Protection Act 2018. We have a legal duty to protect any information we collect from you and we will process your information in compliance with the provisions of GDPR and the Act.
</p>

    <p> The Animal and Plant Health Agency (APHA) may contact you for further information.</p>

      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Accept",
          href: "what-do-you-want-to-do"
        }) }}

        {{ govukButton({
          text: "Decline",
          classes: "govuk-button--secondary",
          href: "#"
        }) }}
      </div>

    </div>
  </div>
</div>


<style>

.govuk-main-wrapper--auto-spacing:first-child, .govuk-main-wrapper--l {
    padding-top: 0px;
}
</style>

{% endblock %}
