
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a href="#" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check your answers before submitting this pig health record</h1>

      <h2 class="govuk-heading-m">About you</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your practice
          </dt>
          <dd class="govuk-summary-list__value">
          Steptoe & son veterinary practice, 24 Oil Drum Lane, Shepherd's Bush, London W12 8TT
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your premises
          </dt>
          <dd class="govuk-summary-list__value">
          Steptoe & son farm, 24 Oil Drum Lane, Shepherd's Bush, London W12 8TT
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          What you want to do
          </dt>
          <dd class="govuk-summary-list__value">
          Submit a pig health record
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
  Are you the vet who attended the pigs
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Yes</p>

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Your core submission details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of consultation
          </dt>
          <dd class="govuk-summary-list__value">
        14 May 2023
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">   Date of consultation</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Nature of consultation
          </dt>
          <dd class="govuk-summary-list__value">
        Routine visit with disease incident to report
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Nature of consultation</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Clinical sign
          </dt>
          <dd class="govuk-summary-list__value">
      Diarrhoea
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">   Clinical sign</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Age of pigs majority affected
          </dt>
          <dd class="govuk-summary-list__value">
            Post-weaned - 9 to 14 weeks old
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">  Age of affedted pigs</span>
            </a>
          </dd>
        </div>







        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Clinical sign present
          </dt>
          <dd class="govuk-summary-list__value">
      Over 2 weeks and up to 1 month
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">   Clinical sign present</span>
            </a>
          </dd>
        </div>






        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Main type of accommodation for affected pigs
          </dt>
          <dd class="govuk-summary-list__value">
    Indoor - solid floor with straw bedding
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Main type of accommodation for affected pigs</span>
            </a>
          </dd>
        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
      Disease incident new or ongoing
          </dt>
          <dd class="govuk-summary-list__value">
      New
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">    Disease incident new or ongoing</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
  Disease unusual
          </dt>
          <dd class="govuk-summary-list__value">
    No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">    Disease unusual</span>
            </a>
          </dd>
        </div>









        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
  Predominant disease syndrome
          </dt>
          <dd class="govuk-summary-list__value">
Systemic
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Mostly likely disease syndrome</span>
            </a>
          </dd>
        </div>

      </dl>






            <h2 class="govuk-heading-m">Your additional submission details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
              Details about the diarrhoea

                </dt>
                <dd class="govuk-summary-list__value">
            Haemorrhagic<br>
            Mucoid <br>
            Loose

                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">   Details about the diarrhoea</span>
                  </a>
                </dd>
              </div>



              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
            Up to two other clinical signs (optional)
                </dt>
                <dd class="govuk-summary-list__value">
            Non-specific malaise
                </dd>
                <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">   Up to two other clinical signs (optional)</span>
                  </a>
                </dd>
              </div>



              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
            Details about the pigs in the affected group
                </dt>
                <dd class="govuk-summary-list__value">
            Total number of pigs in the affected group is 40
            <br>Estimated morbidity rate is 30%
            <br>Estimated associated mortality rate is 70%

                </dd>

                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">  Details about the pigs that may be at risk</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Source of affected pigs
                </dt>
                <dd class="govuk-summary-list__value">
            Single or multiple within company source
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">  Source of affected pigs</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Company source where affected pigs came from
                </dt>
                <dd class="govuk-summary-list__value">
            Corbally farms limited
                <br>
              Nugget pigs limited
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">Company source where afected pigs came from</span>
                  </a>
                </dd>
              </div>


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
              Main type of feed for affected pigs
                </dt>
                <dd class="govuk-summary-list__value">
            Commercial - dry meal
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">  Main type of feed for affected pigs</span>
                  </a>
                </dd>
              </div>


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
              Suspected diagnosis
                </dt>
                <dd class="govuk-summary-list__value">
              Streptococcus suis septicaemia
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">   Suspected diagnosis</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
              Interventions taken
                </dt>
                <dd class="govuk-summary-list__value">
              Antibiotic treatment </br>
              Improve water supply
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">   Interventions taken</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
              Outcome of disease incident
                </dt>
                <dd class="govuk-summary-list__value">
              Too early to know
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">  Outcome of diseasse incident</span>
                  </a>
                </dd>
              </div>

            </dl>

    <!--  <h2 class="govuk-heading-m">Now send your application</h2>

      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

-->

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Submit",
          href: "record-submitted.html"
        }) }}

    <!--  {{ govukButton({
          text: "Answer additional questions",
          classes: "govuk-button--secondary",
          href: "details-about-diarrhoea"
        }) }}-->
      </div>

    </div>
  </div>
</div>


<style>

.govuk-main-wrapper--auto-spacing:first-child, .govuk-main-wrapper--l {
    padding-top: 0px;
}
</style>

{% endblock %}
