
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a href="#" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
          Which within-company sources did the affected pigs come from?
</h1>


      <ul class="govuk-list">
        <li>
        <p class="govuk-body">Show all</p>
        </li>
        <li>
          <a class="govuk-link" href="#">A to E</a>
        </li>
        <li>
          <a class="govuk-link" href="#">F to J</a>
        </li>
        <li>
          <a class="govuk-link" href="#">K to O</a>
        </li>
        <li>
          <a class="govuk-link" href="#"> P to T</a>
        </li>
        <li>
          <a class="govuk-link" href="#">  U to Z</a>
        </li>
      </ul>


      <h3 class="govuk-heading-s" style="clear:both"> Showing 1 - 10 of 120 company sources </h3>

        <!--  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name">
              Show all
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
              A to E
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
              F to J
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
              K to O
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
              P to T
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
              U to Z
              </label>
            </div>
          </div>-->




    <div id="waste-hint" class="govuk-hint">
        Select all that apply.
      </div>
 <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
      Avenue piggery, 221B Baker Street, London NW1 6XE.
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
        Avenue zen farms limited, 221B Baker Street, London AB2 7YD.
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
    Barber pig and poultry limited, 24 Oil Drum Lane, Shepherd's Bush, London W12 8TT.
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
        Barnabas pig and poultry limited, 221B Baker Street, London AB2 7YD.
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Ben pig and poultry limited, 221B Baker Street, London AB2 7YD.
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
    Ben piggery, 221B Baker Street, London NW1 6XE.
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Corbally farms limited, 221B Baker Street, London AB2 7YD.
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
      Corn and care poultry limited, 24 Oil Drum Lane, Shepherd's Bush, London W12 8TT.
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
        Cornelly farms limited, 221B Baker Street, London AB2 7YD.
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
        Cornelly and sons limited, 221B Baker Street, London AB2 7YD.
          </label>
        </div>
      </div>

    </fieldset>



    <nav role="navigation" aria-label="Pagination">

        <ul class="pagination">

          <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true"
              aria-label="Page 1, current page">1</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 3">3</a></li>
  <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 3">4</a></li>
  <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true"
      aria-label="Page 1, current page">5</a></li>
  <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">6</a></li>
  <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 3">7</a></li>
<li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 3">8</a></li>
<li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">9</a></li>
<li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 3">10</a></li>
<li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 3">11</a></li>
<li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 3">Next</a></li>

        </ul>
      </nav>


      <br/>
      <br/>

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "feed-for-affected-pigs.html"
              }) }}

            <!--  {{ govukButton({
                text: "Decline",
                classes: "govuk-button--secondary",
                href: "#"
              }) }}-->
            </div>
  </div>





    </div>
  </div>
</div>


<style>

ul.govuk-list li {
    float: left;
    margin-right:20px;
    font-weight:normal;
}

.govuk-main-wrapper--auto-spacing:first-child, .govuk-main-wrapper--l {
    padding-top: 0px;
}

    li.pagination__item {
    float: left;
    margin: 10px;
    list-style-type:none;
}


ul.pagination {
    padding: 0;
}


.govuk-button-group {
    clear: both;
    margin-top:40px;
}
</style>

{% endblock %}
