\
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a href="#" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
Alpha prototypes

      </h1>


      <h2 class="govuk-heading-m"> Alpha verion 3 (18 April 2023)
    <p> Showing vet login from AHDB pig hub website and testing the submit a pig record journey.(Includes viewing pig health report)</p>
      </h2>

            <p>  <a href="v3-1/ahdb-home" class="govuk-link">View prototype</a></p>
              <!--<p>  <a href="v3/ahdb-home" class="govuk-link">Additional questions (Check your answer page)</a></p>-->
        <h2 class="govuk-heading-m"> Alpha verion 2 (23 September 2022)
      <p> Showing vet login from AHDB pig hub website and testing the submit a pig record journey.</p>
        </h2>

      <p>  <a href="v2/ahdb-home" class="govuk-link">View prototype</a></p>
  <h2 class="govuk-heading-m"> Alpha verion 1 (11 August 2022)
<p> Showing vet login from AHDB pig hub website and testing the submit a pig record journey.</p>
  </h2>

<p>  <a href="ahdb-home" class="govuk-link">View prototype</a></p>



<h2 class="govuk-heading-l">
Design ideas

</h2>
<h2 class="govuk-heading-m"> Save and continue (27 October 2022)
<p>User comes back to the service where they have previously not completed a pig report</p>
</h2>

      <p>  <a href="draft/ahdb-home" class="govuk-link">Incomplete</a></p>


      <p>  <a href="draft/complete-report-list" class="govuk-link">Complete</a></p>





    </div>
  </div>
</div>


<style>

.govuk-main-wrapper--auto-spacing:first-child, .govuk-main-wrapper--l {
    padding-top: 0px;
}
</style>

{% endblock %}
